awkward
chart_studio
dask
datashader
datashape
hist
iminuit
inquirer
ipykernel
json
jupyter
kaleido
matplotlib
nbformat
numba
numpy
pandas
particle
plotly
plotly_express
rich
scipy
scikit-learn
uproot